/* Warna */
$theme-color: #001232;
$body-color: #666666;
$heading-color: #333333;

/* Jenis Font */
$body-font: "Source Sans Pro", sans-serif;
$heading-font: "Oswald", sans-serif;

/* Ketebalan Garis */
$body-line-height: 24px;

/* Radius */
$theme-radius: 3px;

/* Ukuran Font */
$body-font-size: 16px;

/* Batasan Warna */
$border-color-light: #eeeeee;
$border-color-medium: #aaaaaa;
$border-color-dark: #333333;

/* Alert */
$color-primary: #337ab7;
$color-success: #5cb85c;
$color-info: #5bc0de;
$color-warning: #f0ad4e;
$color-danger: #d9534f;

/* Layouts*/
$sp-layout: "only screen and (min-width: 1920px)";
$xx-layout: "only screen and (min-width: 1600px) and (max-width: 1919px)";
$xlg-layout: "only screen and (min-width: 1200px) and (max-width: 1599px)";
$lg-layout: "only screen and (min-width: 992px) and (max-width: 1199px)";
$md-layout: "only screen and (min-width: 768px) and (max-width: 991px)";
$sm-layout: "only screen and (max-width: 767px)";
$xs-layout: "only screen and (max-width: 575px)";
$xxs-layout: "only screen and (max-width: 420px)";
